body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('laptop.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 8px;
  margin: 2rem 0;
  width: 80%;
  max-width: 800px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #555;
}

#resultOutput {
  border: 1px solid #ccc;
  padding: 1rem;
  overflow-wrap: break-word;
}

.hidden {
  display: none;
}

#networkDevicesOutput {
  margin-top: 1rem;
}

#music {
  text-align: center;
  margin-bottom: 50px;
}

#music h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#music audio {
  display: none;
}

#toggleMusicBtn {
  margin-top: 10px;
}

.team-member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.member-info {
  margin-right: 20px;
}

.member-info h3 {
  margin-bottom: 5px;
}

.member-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
}

.card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card h3 {
  margin: 0;
}
